name: "Terraform Init"

on:
  workflow_dispatch: # manual trigger

permissions:
      id-token: write # This is required for aws oidc connection
      contents: read # This is required for actions/checkout

defaults:
  run:
    shell: bash

jobs:
  terraform:
    name: "Terraform Init"
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      
      AWS_DEFAULT_REGION: us-east-1
    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Setup AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-session-name: GitHub-OIDC-TERRAFORM

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.6

      - name: Terraform Init
        id: init
        run: |
          rm -rf .terraform
          terraform init

      - name: Upload terraform.tfstate
        uses: keithweaver/aws-s3-github-action@v1.0.0
        with:
          command: cp
          source: ./terraform.tfstate
          destination: s3://${{ github.event.repository.name }}/GDS-/terraform.tfstate
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: us-east-1